@font-face {
    font-family: 'Georgia Regular';
    src: url('../../fonts/Georgia.eot');
    src: url('../../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Georgia.woff') format('woff'),
    url('../../fonts/Georgia.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Regular';
    src: url('../../fonts/ArialMT.eot');
    src: url('../../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ArialMT.woff') format('woff'),
    url('../../fonts/ArialMT.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}